<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="output_preview" name="OutputAndPreview" schema="schema/output_preview.exsd"/>
   <extension
         id="id1"
         name="DeepSearch"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.deepsearch.MainSearchView"
            icon="mag_glass.png">
      </view>
   </extension>

</plugin>
